.App h1 {
  font-size: 25px;
}
.App h2 {
  font-size: 15px;
}

.App ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: right;
  text-align: right;
}
.App input {
  padding: 5px 5px 5px 15px;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid black;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.027);
}
.App button {
  width: 10%;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.027);
  border: 1px solid black;
  border-left: none;
  transition: transform 0.2s;
}

.App button img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.App form {
  margin-bottom: 20px;
}
.App li {
  text-transform: capitalize;
}
.App .searchIcon {
  width: 25px;
  padding: 1px 5px 4px 5px;
}
.App .container {
  padding: 40px 16px 150px 16px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 30px;
  background: linear-gradient(135deg, #f5f7fa9d 0%, #c3cfe2a6 100%);
}
.App .forecast img {
  width: 30px;
}
.App .forecast {
  background-color: rgba(0, 0, 0, 0.329);
  width: 200px;
  border-radius: 4px;
}
.App .forecast p {
  padding: 2px 0 4px 0;
  margin: 0 0 0 5px;
  color: white;
}
.App .min {
  padding: 2px 0 4px 0;
  margin: 0 0 0 5px;
  color: rgba(255, 255, 255, 0.671);
}

.App .wrapper {
  padding: 40px 60px 40px 60px;
  width: 600px;
  margin: 30px auto;
}

.App .types {
  float: right;
  text-transform: capitalize;
}
.App .mainIcon {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: right;
}
.App .featuredTemp {
  font-size: 20px;
  top: 25px;
  vertical-align: top;
  position: relative;
}
.App .notFeaturedTemp {
  color: rgba(128, 128, 128, 0.575);
  font-size: 20px;
  top: 25px;
  vertical-align: top;
  position: relative;
}
.App .form {
  justify-content: center;
  text-align: center;
}

.App .searchedCity {
  text-transform: capitalize;
  text-align: center;
}

.App .degrees a {
  text-decoration: none;
}
.App .link a {
  text-decoration: none;
}

.App .temperature {
  font-size: 40px;
}

.App .tempDegrees a:hover {
  color: black;
}
