.App h1 {
  font-size: 25px;
}
.App h2 {
  font-size: 15px;
}
.App p {
  padding-bottom: 40px;
  color: gray;
}
.App ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: right;
}
.App input {
  padding: 5px 5px 5px 5px;
  width: 60%;
}
.App button {
  border-radius: 4px;
  padding: 6px 5px 6px 5px;
  cursor: pointer;
  background-color: rgba(123, 171, 235, 0.596);
  border: 1px solid black;
}
.App button:hover {
  cursor: pointer;
  background-color: rgba(123, 172, 235, 0.349);
}
.App form {
  margin-bottom: 20px;
}
.App li {
  text-transform: capitalize;
}
.App .container {
  padding: 40px 16px 150px 16px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 30px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.App .wrapper {
  padding: 40px 60px 40px 60px;
  width: 600px;
  margin: 30px auto;
}

.App .types {
  float: right;
  text-transform: capitalize;
}
.App .mainIcon {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: right;
}
.App .featuredTemp {
  font-size: 30px;
  top: 25px;
  vertical-align: top;
  position: relative;
}
.App .notFeaturedTemp {
  color: rgba(128, 128, 128, 0.575);
  font-size: 30px;
  top: 25px;
  vertical-align: top;
  position: relative;
}
.App .form {
  justify-content: center;
  text-align: center;
}

.App .searchedCity {
  text-transform: capitalize;
  text-align: center;
}

.App .degrees a {
  text-decoration: none;
}
.App .link a {
  text-decoration: none;
}

.App .temperature {
  font-size: 40px;
}

.App .tempDegrees a:hover {
  color: black;
}
