.App h1 {
  font-size: 25px;
}
.App h2 {
  font-size: 15px;
}
.App p {
  padding-bottom: 40px;
  color: gray;
}
.App ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.App input {
  padding: 5px 5px 5px 5px;
}
.App button {
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}
.App li {
  text-transform: capitalize;
}
.App .container {
  padding: 40px 60px 40px 60px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 30px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.App .wrapper {
  padding: 40px 60px 40px 60px;
  width: 70%;
  margin: 30px auto;
}

.App .types {
  float: right;
  text-transform: capitalize;
}
.App .mainIcon {
  float: right;
  display: block;
  top: -45px;
  position: relative;
}

.App .form {
  justify-content: center;
  text-align: center;
}

.App .searchedCity {
  text-transform: capitalize;
}
.App .degrees {
  top: 8px;
  vertical-align: top;
  position: relative;
}
.App .degrees a {
  text-decoration: none;
}
.App .link a {
  text-decoration: none;
}

.App .temperature {
  font-size: 50px;
}
.App .tempDegrees a {
  color: black;
}
.App .tempDegrees a:hover {
  color: #0b5ed7;
}
